<template>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <TableComponent :currencies = "currencies"></TableComponent>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6  offset-3 text-right">
                <button class="btn btn-primary btn_refresh">Обновить</button>
            </div>
        </div>
    </div>
</template>

<script>
    import TableComponent from './TableComponent'
    export default {
        name: "MainComponent",
        props: ['currencies'],
        components:{
            TableComponent
        }
    }
</script>

<style lang="scss" scoped>
    .btn_refresh{
        position: fixed;
        top: 40px;
        left: 150px;
    }
</style>