<template>
    <div class="table-currencies">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название валюты</th>
                    <th>Цена</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="c in currenciesList">
                    <td>{{c['name']}}</td>
                    <td>{{c['volume']}}</td>
                    <td>{{c['price']['amount']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "TableComponent",
        props: ['currencies'],
        data(){
            return{

            }
        },
        computed:{
            currenciesList:function(){
                //return JSON.parse(this.currencies);
                return this.currencies;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .table-currencies{
        .table{
            tr{
                height: 50px;
            }
        }
    }
</style>